<div >
    <mat-card class="card">
        <h2> PATIENT'S REPORT FORM</h2>

    <mat-spinner *ngIf="show"></mat-spinner>

        <div>
            {{errororconfirmmsg}}
        </div>
            <mat-card-content>
    
    <form #form ="ngForm" (ngSubmit)="populateData()">
        <div>
            <!-- <input type="text"matInput placeholder="getDrugs" required name="getDrugs" #getDrugs = 'ngModel' [(ngModel)] = "pharmInfo.getDrugs"> -->
          
            <textarea placeholder="drugs administered" name="getDrugs" id="getDrugs" cols="43" rows="8" #getDrugs = 'ngModel' [(ngModel)] = "pharmInfo.getDrugs"></textarea>
          
            <span [hidden]= "getDrugs.valid || getDrugs.untouched"> getDrugs is required </span>
    
        </div>
    
        <div>
            <input type="text"matInput placeholder="pharmAmount" required name="pharmAmount" #pharmAmount = 'ngModel' [(ngModel)] = "pharmInfo.pharmAmount">
            <span [hidden]= "pharmAmount.valid || pharmAmount.untouched"> pharmAmount is required </span>
    
        </div>
        <mat-card-actions>
            <button type="submit" [disabled] = "form.invalid">Submit </button>
    
        </mat-card-actions>
    
    
    
    </form>
    </mat-card-content>
    </mat-card>
</div>



