
.main {
    /* min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; */
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto 640px auto;
    background: #fff;

}


button {

  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
}

mat-toolbar{
  margin-top: -16px;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;


}



mat-toolbar > div{
  width: 20%;
  display: flex;
  justify-content: space-around;
}
a{
  color: #fff;
  text-decoration: none;

}










.card{
    max-width: 400px;
    height: 70%;
    margin: 3em auto 10px auto;

    text-align: center;
  }

  .foot{
    margin: auto;
  }

  .mat-input-element {
    caret-color: #3f51b5;
    border: 0.2px solid;
}

 .image{
     width:100px;
     height: 100px;
 }

 mat-icon{
    position:fixed;
    bottom: 80px;
    right: 50px;

 }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
div > input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}
mat-card-actions > button {
    width: 60%;
    padding: 10px;
    margin: 10px;
     background-color: #4285F4;

}


mat-card-actions{
  margin-bottom: 10px;
}
.section2{
    width: 80%;
    height: 90%;
    margin: auto;


}

button {

  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  width: 100px;
}

.section3{
  margin-top: 3px;
}


.section3 > mat-toobar{
  height: 100%;
}


circle {
  stroke-width: 3% !important;
  width: 5%;

}

mat-spinner{
  position:fixed;
  top:50%;
  right: 45%
}


@media only screen and (max-width: 800px) {

  .main{
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto 699px auto;
  
  }
  
  
  
  }


