.butt{
    text-align: center;
    margin-top: 4em;
}

button{
    padding: 8px;
    background-color: #4285F4;
    color: #fff;


}

@media only screen and (max-width: 800px) { 
    .butt{
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .main{
        min-height:700px;
    }

}