
 

  .main {
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto 750px auto;
    background: #fff;



  }

  mat-toolbar{
    margin-top: -16px;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    background-color: #4285F4;

  
  
  }
  
  
  
  mat-toolbar > div{
    width: 20%;
    display: flex;
    justify-content: space-around;
  }

  a{
    color: #fff;
    text-decoration: none;

  }

  mat-spinner{
    position:fixed;
    top:50%;
    right: 45%
  }


  .foot{
    margin: auto;
  }



    button {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px;
      width: 100px;
    }

  .section2{
    width: 80%;
    height: 80%;
    margin: auto
  }
 
  
 


  .card {
    margin : auto;
    width: 80%;
    /* height: 100%; */
    text-align: center
  }
  /* :not([type = 'radio']) */
  input {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }

  select{
    width: 82.5%;
    padding: 10px;
    margin: 10px;
  }

  mat-card-actions > button {
    width: 40%;
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}


