


  .card {
    margin : auto;
    width: 60%;
    text-align: center;
  }

  textarea{
    margin-top: 2em;
  }

  mat-card-actions > button {
    width: 40%;
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}

mat-spinner{
  position:fixed;
  top:50%;
  right: 45%
}


/* .main{
    margin-top: 10em;
} */


@media only screen and (max-width: 800px) { 

  .main{
    width:100%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card {
    width: 90%;

  }

  .form{
    width: 100%;
  }

  textarea{
    width: 80%;
  }

  .main{
    margin-top: 0;
}

}