
<mat-card class="card">
    <h2> PATIENT'S REPORT FORM</h2>
    <div>
        {{errororconfirmmsg}}
    </div>
        <mat-card-content>
            <form #form ="ngForm" (ngSubmit)="populateData()">
            
            
                <div>
                    <input type="text"matInput placeholder="illness" name="illness" #illness = 'ngModel' [(ngModel)] = "doctorsInfo.illness">
                    <!-- <span [hidden]= "bloodpressure.valid || bloodpressure.untouched"> bloodpressure is required </span> -->

                </div>

                <div>
                    <input type="text"matInput placeholder="symptoms" name="symptoms"  #symptoms = 'ngModel' [(ngModel)] = "doctorsInfo.symptoms">
                    <!-- <span [hidden]= "height.valid || height.untouched"> height is required </span> -->
                </div>

                <div>
                    <input type="text"matInput placeholder="postDrugs" name = "postDrugs"  #postDrugs = 'ngModel' [(ngModel)] = "doctorsInfo.postDrugs">
                    <!-- <span [hidden]= "weight.valid || weight.untouched"> weight is required</span> -->
                </div>

                <div>
                    <input type="text"matInput placeholder="postLab" name = "postLab" #postLab = 'ngModel' [(ngModel)] = "doctorsInfo.postLab">
                    <!-- <span [hidden]= "weight.valid || weight.untouched"> weight is required</span> -->
                </div>
                <mat-card-actions>
                    <button type="submit" [disabled] = "form.invalid">Submit </button>

                </mat-card-actions>



            </form>
        </mat-card-content>
</mat-card>

