<!-- <app-header></app-header> -->
<div class="container">
    <header>
        <h2>COMMUNITY HOSPITAL</h2>
    </header>
    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi autem error, voluptates incidunt reprehenderit dolore distinctio unde recusandae velit non. In ipsum distinctio minima porro voluptatem qui iure iusto corporis?

        </p>
        <section class="intro">
            <div class="content">
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="images">
                <p>we goin to put an image here</p>
            </div>
        </section>
        <section class="general">
            <h3>services</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus natus fuga quaerat debitis fugiat quis tempore alias laborum distinctio delectus adipisci, inventore cum laudantium consectetur nihil, reprehenderit eaque sunt atque!
                </p>
                <h3>if you also like stay there</h3>
            </div>
           
        </section>
        <section class="general">
            <h3>who we are</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus natus fuga quaerat debitis fugiat quis tempore alias laborum distinctio delectus adipisci, inventore cum laudantium consectetur nihil, reprehenderit eaque sunt atque!
                </p>
                <h3>   if you like stay there</h3>

            </div>
        </section>
        <section class="doctors">
            <h3>doctors</h3>
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus natus fuga quaerat debitis fugiat quis tempore alias laborum distinctio delectus adipisci, inventore cum laudantium consectetur nihil, reprehenderit eaque sunt atque!
            </p>
        </section>
        <section class="nurses"></section>
        <section class="general"></section>
        <section class="general"></section>
        <section class="vision"></section>
        <section class="herhh"></section>
    </main>
    <footer>
        <h4>here's the footer COMMUNITY HOSPITAL</h4>
    </footer>
</div>