


  .card {
    margin :  auto;
    width: 50%;
    height: 50px;
    text-align: center;
    padding-top: 15em;
  }
    

  input:not([type = 'radio']) {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }

 

  mat-card-actions > button {
    width: 40%;
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}

.main{
  width:100%;
  height: 50%;
  
}


