


  .card {
    margin : auto;
    width: 60%;
    text-align: center
  }

  .example-section {
    margin: 12px 0;
  }

  mat-spinner{
    position:fixed;
    top:50%;
    right: 45%
  }
  
  .example-margin {
    margin: 0 12px;
  }

  input:not([type = 'radio']) {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }

  /* .main{
    margin-top: 1em;
  } */

  mat-card-actions > button {
    width: 40%;
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}


.main{
    margin-top: 1em;
}