<mat-card class="card">
    <h2> PATIENT'S REPORT FORM</h2>
    <div>
        {{errororconfirmmsg}}
    </div>
        <mat-card-content>
            <form #form ="ngForm" (ngSubmit)="populateData()">
   
    <div>
        <input type="text"matInput placeholder="amountPaid" required name="amountPaid" #amountPaid = 'ngModel' [(ngModel)] = "accInfo.amountPaid">
        <span [hidden]= "amountPaid.valid || amountPaid.untouched"> amountPaid is required </span>

    </div>

    <div>
        <input type="checkbox" placeholder="paid" required name="paid" #paid = 'ngModel' [(ngModel)] = "accInfo.paid">
        <span [hidden]= "paid.valid || paid.untouched"> paid is required </span>

    </div>
    <mat-card-actions>
        <button type="submit" [disabled] = "form.invalid">Submit </button>

    </mat-card-actions>



            </form>

        </mat-card-content>
    </mat-card>

