/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #e6e6e6; }
body { margin: 0;padding:0; font-family:Raleway, sans-serif; ; }

.middle{

    /* background-color:  #6666ff; */
    /* bacgroundur */
    /* background: lightblue url("") no-repeat  center; */
    /* height: 1005px; */
    margin-top: 40px;
    background-image: url("https://banner2.kisspng.com/20171218/1bc/doctor-png-5a3855d89bd012.4129718415136414326382.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 1001px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
    
    }


    li.carousel-slide.ng-star-inserted {
        height: 300px !important;
    }


    @media only screen and (max-width: 800px) {
        .middle{
             margin-top: 0px;
            height: 700px; /* You must set a specified height */
            }
    }




