

<main @fadeSlideInOut>
    <div *ngIf="!user">
        <p>hello there's no logged in user</p>
    </div>
    
    <!-- {{user | json}} -->

    
    <div *ngIf="user">
        <section class="info">
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/nolan/48/temperature.png"/>
        
                <div>
                    <h3>temperature</h3>
                    <h4>{{user.temperature }}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/color/48/4a90e2/weight-kg.png"/>
        
                <div>
                    <h3>weight</h3>
                    <h4>{{user.weight}}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/color/48/4a90e2/height.png"/>
        
                <div>
                    <h3>height</h3>
                    <h4>{{user.height}}</h4>
                </div>
            </mat-card>
        </section>


        <!-- second part here -->
        <section class="info">
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/bubbles/50/4a90e2/sneezing-in-a-tissue.png"/>
        
                <div>
                    <h3>symptoms</h3>
                    <h4>{{user.postDrugs}}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/doodle/48/4a90e2/illness.png"/>
        
                <div>
                    <h3>illness</h3>
                    <h4>{{user.illness}}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>special treatment</h3>
                    <h4>{{user.height}}</h4>
                </div>
            </mat-card>
        </section>

        <!-- third part -->

        <section class="info">
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/ios-filled/50/4a90e2/test-results.png"/>
        
                <div>
                    <h3>lab test</h3>
                    <h4>{{user.postLab }}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/ios-filled/50/4a90e2/test-results.png"/>
        
                <div>
                    <h3>lab Results</h3>
                    <h4>{{user?.getLab}}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
                <img src="https://img.icons8.com/ios-filled/50/4a90e2/capsule.png"/>
        
                <div>
                    <h3>Drugs</h3>
                    <h4>{{user.height}}</h4>
                </div>
            </mat-card>
        </section>

        <!-- fourth part -->
        <section class="info">
            <mat-card class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>temperature</h3>
                    <h4>{{user.temperature}}</h4>
                </div>
            </mat-card>
            <div class="divider  none"></div>
            <mat-card class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>weight</h3>
                    <h4>{{user.weight}}</h4>
                </div>
            </mat-card>
            <div class="divider none"></div>
            <mat-card class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>height</h3>
                    <h4>{{user.height}}</h4>
                </div>
            </mat-card>


        </section>


        <!-- fifth part -->
        <!-- <section class="info">
            <div class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>temperature</h3>
                    <h4>{{user.temperature}}</h4>
                </div>
            </div>
            <div class="divider"></div>
            <div class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>weight</h3>
                    <h4>{{user.weight}}</h4>
                </div>
            </div>
            <div class="divider"></div>
            <div class="secondpart">
              <mat-icon>person</mat-icon>
        
                <div>
                    <h3>height</h3>
                    <h4>{{user.height}}</h4>
                </div>
            </div>
        </section> -->
    </div>
    
</main>





