<p>patient-detail works!</p>


<!-- {{user.appearance?.type?.temperature}}
{{user.appearance?.type?.weight}}
{{user.appearance?.type?.height}}
{{user.appearance?.type?.bloodLevel}}
{{user.getDrugs}}
{{user.postDrugs}}
{{user.postLab}}
{{user.getLab}}
{{user.}} -->
<div *ngIf="!user">
    <p>hello we lost the current patient please enter patient key once more from the login tab</p>
</div>

{{user | json}}

<!-- {{user.appearance?.type?.temperature}}
{{user.appearance?.type?.weight}}
{{user.appearance?.type?.height}}
{{user.appearance?.type?.bloodLevel}} -->

<!-- {{user.postDrugs}}
{{user.postLab}}
{{user.getLab}} -->

hey everyone is mad



